body{
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255,0.5);
    list-style: none;
}
a{
    text-decoration: none;
}
.home-page{
    display: flex;
}
/* navbar*/
.navbar{
    padding: 0px 20px;
    height: 95vh;
    position: fixed;
    width: 270px;
    border: 2px solid rgb(241, 228, 228);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: white;
    /* background-color: rgb(45, 41, 41);
    color: white; */
}
#logo{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-size: 24px;
    padding: 5px 10px;
    font-family: 'Playfair Display', serif;
}
#logo::before,#logo::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 30px;
}
#logo::before{
    top: 35px;
    left: 226px;
    /* padding-left: 20px; */
    border-top: 4px solid orangered;
    border-right: 4px solid orangered;
}
#logo::after{
    border-left: 4px solid orangered;
    border-bottom:4px solid orangered ;
    left: 26px;
    bottom: 580px;
}
#name{
    position: relative;
    left: 28px;
    top: 10px;
}

nav{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    row-gap: 50px;
}
.nav-item{
    /* border: 1px solid rgb(82, 78, 78);
    box-shadow: rgba(80, 77, 77, 0.1) 0px 4px 12px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: fit-content;
    padding: 10px 25px;
    margin-left: 50px;
    width: 115px
}
.nav-item a{
    font-size: 19px;
    margin-left: 10px;
    color: black;
    font-weight: 590;
}
.container{
    margin-top: 35px;
    margin-left: 23vw;
}
#heading h2{
    font-size: 36px;
}
#color1{
    margin-top: -5px;
    width: 60px;
    border-top: 5px solid orangered;
}
#color2{
    margin-top: 5px;
    width: 30px;
    border-top: 5px solid orangered;
}
.projects{
    margin-top: 50px;
    max-width: 1130px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(auto-fit,minmax(340px,auto));
    gap: 50px;
}
.project-box{
    position: relative;
    text-align: center;
    border: 3px solid rgb(241, 228, 228);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 220px;
    /* max-height: 450px; */
    max-width: 330px;

    border-radius: 5px;
    background-color: white;
    overflow: hidden;
}
img{
    width: 100%;
    height: 100%;
    zoom: 100;
}
#overlay{
    position: absolute;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    transform: translateY(200px);
    transition:  transform 0.8s ease-in-out, opacity 0.5s ease-in-out;
}
#overlay p{
    padding: 10px;
}
#overlay a{
    color: white;
}
 .project-box:hover #overlay{   
    z-index: 1000;
    opacity: 1;
    transform: translateY(0);
} 

.active{
    color: orangered;
}
#menu-bar{
    display: none;
}

@media screen and (max-width:370px) {
    .navbar{
        padding: 0px 25px;
        width: 210px;
        display: none;
        z-index: 10;
    }
    #menu-bar{
        display: inline;
    }
    .navbar.open{
        display: block;
    }
    #logo::before,#logo::after{
        position: relative;
        width: 40px;
        height: 30px;
        /* display: none; */
    }
    #logo::before{
        top: 15px;
        left: 162px;
        padding-left: 35px;
    }
    #logo::after{
        left: -15px;
        bottom: 41px;
        padding-right: 35px;
    }
    #name{
        margin-top: -30px;
        left: -5px;
        top: 12px;
    }
    nav{
        margin-top: 15px;
        row-gap: 18px;
    }
    .nav-item{
        padding: 8px 20px;
        margin-left: 25px;
    }
    .nav-item a{
        font-size: 17px;
    }
    /* responsive-navbar*/
    #menu-bar{
        color: orangered;
        border: 2px solid rgb(241, 228, 228);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        padding: 4px 8px;
        font-size: 18px;
        margin-left: -2px;
        margin-top: 0;
    }
    .container{
        margin-top: 8px;
        margin-left: 10px;
    
    }
    .projects{
        max-width: 600px;
        grid-template-rows: repeat(auto-fit,minmax(220px,auto));
        row-gap: 40px;
    }

}

